%h2
  レッスン一括作成
= render 'link'
= simple_form_for @query_params, url: bulk_new_teachers_lessons_path, method: :get do |f|
  = f.input :start_date, as: :date, label: '開始日', html5: true
  = f.input :end_date, as: :date, label: '終了日', html5: true
  = f.input :start_hour, as: :select, label: '開始時刻', collection: [*7..22]
  = f.input :end_hour, as: :select, label: '終了時刻', collection: [*7..22]
  = f.button :submit, '検索', class: 'btn-primary'

- if @query_params.valid?
  = simple_form_for :lessons, url: bulk_create_teachers_lessons_path, method: :post do |f|
    = f.input :language_id, label: '言語', as: :select, collection: Language.all, include_blank: false
    %table.table
      %thead
        %tr
          %th -
          - (@query_params.start_hour..@query_params.end_hour).each do |hour|
            %th
              = hour
      %tbody
        - (@query_params.start_date..@query_params.end_date).each do |date|
          %tr
            %th
              = date.to_s(:date_jp_weekday)
            - (@query_params.start_hour..@query_params.end_hour).each do |hour|
              %td
                = f.input "start_time[#{date.to_s(:date_query)} #{hour}]", as: :boolean, label: false, input_html: { checked: true }
    = render partial: 'create_button', locals: { f: f }
