= link_to '新規作成', new_teachers_lesson_path
%table.table
  %tr
    %th 開始日時
    %th 言語
    %th 受講者
    %th zoomリンク
    %th フィードバック
    %th レポート
  - @lessons.each do |lesson|
    %tr
      %td
        = lesson.start_time.to_s(:datetime_jp)
      %td
        = lesson.language.name
      %td
        - if lesson.reserve_student.present?
          = link_to lesson.reserve_student.username, teachers_student_path(lesson.reserve_student.id)
      %td
        = lesson.reservation.present? ? (link_to '開く', lesson.reservation.start_url) : '-'
      %td
        - if lesson.feedback.present?
          = link_to '編集', edit_teachers_lesson_feedback_path(lesson)
        - elsif lesson.finished? && lesson.reservation.present?
          = link_to '作成', new_teachers_lesson_feedback_path(lesson)
        - else
          = '-'
      %td
        - if lesson.report.present?
          = link_to '編集', edit_teachers_lesson_report_path(lesson)
        - elsif lesson.finished? && lesson.reservation.present?
          = link_to '作成', new_teachers_lesson_report_path(lesson)
        - else
          = '-'
