%h2
  チケットの確認・購入
%p
  = "所有チケット: #{current_student.tickets}"
- Student::INSTANT_TICKET_PRODUCTS.each do |qty, p|
  %div{id: "buy-tickets-#{qty}"}
    = p[:description]
    = " - 価格(税込): #{p[:amount]}(#{p[:currency]})"
    = form_tag students_tickets_path do
      = hidden_field_tag :qty, qty
      %script.stripe-button{
        'data-amount' => "#{p[:amount]}",
        'data-currency' => "#{p[:currency]}",
        'data-description' => "チケットの代金決済(税込価格)",
        'data-email' => "#{current_student.email}",
        'data-key' => "#{ENV['MATCHASIA_STRIPE_PUBLIC_KEY']}",
        'data-name' => "#{p[:description]}",
        src: "https://checkout.stripe.com/checkout.js"
      }
