%h2
  レポート編集
%h3
  レッスン情報
%h4
  開始日時
= @lesson.start_time.to_s(:datetime_jp)
%h4
  言語
= @lesson.language.name
%h4
  受講者
= @lesson.reservation.student.username
%h3
  レポート
= simple_form_for @report, url: teachers_lesson_report_path, method: :post do |f|
  = f.input :content, label: '講義内容'
  = f.button :submit, '送信', class: 'btn-primary'
